[Unit]
Description=Gunicorn server for DOMAIN

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/sites/DOMAIN
Restart=on-failure
EnvironmentFile=/home/ubuntu/sites/DOMAIN/.env
ExecStart=/home/ubuntu/sites/DOMAIN/virtualenv/bin/gunicorn \\
    --bind unix:/tmp/DOMAIN.socket \\
    superlists.wsgi:application

[Install]
WantedBy=multi-user.target