[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.2.24"
gunicorn = "*"
djangorestframework = "*"

[dev-packages]
pylint = "*"
fabric3 = "*"
selenium = "<4"
pytest = "*"
autopep8 = "*"
pytest-django = "*"
coverage = "*"
ipython = "*"

[requires]
python_version = "3.6"
