{% extends 'base.html' %}

{% block header_text %}
    {% if list.owner is undefined %}
        Your To-Do list
    {% elif list.owner == user %}
        Your To-Do list
    {% else %}
        <span id='id_list_owner'>{{list.owner.email}}</span>'s todo list
    {% endif %}
{% endblock %}

{% block form_action %}#{% endblock %}

{% block table %}
<table id="id_list_table" class="table">

</table>
{% endblock %}

{% block extra_content %}
<h2>Share list with:</h2>
<form method="POST" action="{% url 'share_list' list.id %}">
    {% csrf_token %}
    <input name="sharee" placeholder="your-friends@email.com" />
</form>

<ul class="list-sharee">
    {% for sharee in list.shared_with.all %}
    <li> {{sharee.email}}</li>
    {% endfor %}
</ul>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        window.Superlists.initialize({
            listApiUrl:  "{% url 'list-detail' list.id %}",
            itemsApiUrl: "{% url 'item-list' %}",
            listId: {{list.id}},
        });
    });
</script>
{% endblock scripts %}